In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors
import random
from typing import List

In [2]:
data = pd.read_csv('/content/profit_templete_dataset.csv')

In [3]:
data.shape

(147, 5)

In [4]:
data.tail(50)

     R&D Spend  Administration  Marketing Spend             City    Profit
97     75874.2         82456.9         145674.8  Sharm El Sheikh  79647.89
98     63456.8         98743.2         142456.7       Alexandria  76456.78
99     71234.8         85674.3         139874.2         Hurghada  74234.56
100    59876.4        102345.8         136234.8             Giza  72897.43
101    67845.3         78945.3         133674.9            Aswan  71634.21
102    55234.7         95674.2         130987.3            Cairo  69234.67
103    64785.9         81234.7         128456.7            Luxor  67892.89
104    52674.3         98234.5         125674.2       Alexandria  66534.78
105    60987.3         84672.1         122987.6         Mansoura  65187.56
106    48234.7        101234.8         120234.8            Cairo  63897.34
107    57456.9         87456.2         117865.4            Tanta  62634.78
108    44987.6        104567.3         115234.7             Giza  61456.89
109    53456.8         79865.4         112674.3         Ismailia  60234.67
110    41674.2        107234.5         110156.8            Cairo  59087.45
111    49456.8         82674.3         107945.2       Alexandria  58234.89
112    38234.7        109567.2         105234.7  Sharm El Sheikh  57456.78
113    45674.9         85234.7         102674.3            Cairo  56687.34
114    34987.6        111834.5         100156.8         Hurghada  55923.67
115    42456.8         88674.2          97945.6             Giza  55187.89
116    31234.7        114087.3          95234.8            Aswan  54467.45
117    38987.4         91456.8          92674.3       Alexandria  53756.78
118    27674.2        116234.5          90156.8            Cairo  53067.34
119    35456.9         94234.7          87945.2            Luxor  52398.89
120    24234.8        118456.2          85234.7         Mansoura  51756.45
121    31674.3         97087.6          82674.3            Cairo  51134.78
122    20987.6        120634.5          80156.8            Tanta  50534.67
123    28456.9         99856.3          77945.6             Giza  49956.89
124    17234.7        122807.2          75234.8         Ismailia  49398.45
125    25674.2        102634.5          72674.3            Cairo  48867.78
126    13987.6        124934.7          70456.8       Alexandria  48356.34
127    22456.9        105423.8          68234.7  Sharm El Sheikh  47867.89
128    10234.8        127056.2          65987.4            Cairo  47398.45
129    19674.3        108234.5          63456.9         Hurghada  46953.78
130     6987.6        129167.3          61234.7             Giza  46534.67
131    16456.9        111067.2          59087.3            Aswan  46134.89
132     3234.8        131234.5          56945.8       Alexandria  45756.45
133    13674.2        113856.8          54234.7            Cairo  45398.78
134        0.0        133298.2          52087.6            Luxor  45067.34
135    10987.6        116634.5          49934.2         Mansoura  44756.89
136        0.0        135356.7          47865.8            Cairo  44467.45
137     8456.9        119423.8          45234.7            Tanta  44198.78
138        0.0        137412.3          43087.4             Giza  43953.67
139     5674.2        122234.5          40956.8         Ismailia  43728.89
140        0.0        139467.2          38845.2            Cairo  43523.45
141     2987.6        125067.3          36234.7       Alexandria  43338.78
142        0.0        141523.5          34087.6  Sharm El Sheikh  43173.34
143     1456.9        127856.8          31956.8            Cairo  43026.89
144        0.0        143578.2          29845.7         Hurghada  42898.45
145      834.7        130634.5          27234.6             Giza  42787.78
146        0.0        145634.7          25087.4            Aswan  42694.67

In [5]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors
import random
from typing import List

class DatasetAugmenter:
    def __init__(self, df: pd.DataFrame, target_rows: int = 500):
        self.df = df.copy()
        self.target_rows = target_rows
        self.numeric_columns = df.select_dtypes(include=[np.number]).columns.tolist()
        self.categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()

    def add_noise(self, df: pd.DataFrame, noise_factor: float = 0.1) -> pd.DataFrame:
        augmented_df = df.copy()
        for col in self.numeric_columns:
            std_dev = augmented_df[col].std()
            if std_dev == 0:
                std_dev = 1e-4
            noise = np.random.normal(0, std_dev * noise_factor, len(augmented_df))
            augmented_df[col] = augmented_df[col] + noise
        return augmented_df

    def interpolate_rows(self, df: pd.DataFrame, n_samples: int) -> pd.DataFrame:
        augmented_rows = []
        non_zero_df = df[(df[self.numeric_columns] != 0).any(axis=1)]
        for _ in range(n_samples):
            if len(non_zero_df) < 2:
                break
            row1, row2 = non_zero_df.sample(2).to_dict('records')
            new_row = {}
            alpha = random.random()
            for col in df.columns:
                if col in self.numeric_columns:
                    new_row[col] = alpha * row1[col] + (1 - alpha) * row2[col]
                else:
                    new_row[col] = random.choice([row1[col], row2[col]])
            augmented_rows.append(new_row)
        return pd.DataFrame(augmented_rows)


    def smote_like_augmentation(self, df: pd.DataFrame, n_samples: int) -> pd.DataFrame:
        if not self.numeric_columns:
            return self.interpolate_rows(df, n_samples)
        non_zero_df = df[(df[self.numeric_columns] != 0).any(axis=1)].reset_index(drop=True)
        if len(non_zero_df) < 2:
            return self.interpolate_rows(df, n_samples)
        numeric_df = non_zero_df[self.numeric_columns]
        scaler = StandardScaler()
        scaled_data = scaler.fit_transform(numeric_df)
        k = min(5, len(non_zero_df) - 1)
        nbrs = NearestNeighbors(n_neighbors=k + 1).fit(scaled_data)
        augmented_rows = []
        for _ in range(n_samples):
            idx = random.randint(0, len(non_zero_df) - 1)
            distances, indices = nbrs.kneighbors([scaled_data[idx]])
            neighbor_idx = random.choice(indices[0][1:])
            row1 = non_zero_df.iloc[idx]
            row2 = non_zero_df.iloc[neighbor_idx]
            alpha = random.random()
            new_row = {}
            for col in df.columns:
                if col in self.numeric_columns:
                    new_row[col] = alpha * row1[col] + (1 - alpha) * row2[col]
                else:
                    new_row[col] = random.choice([row1[col], row2[col]])
            augmented_rows.append(new_row)
        return pd.DataFrame(augmented_rows)

    def bootstrap_sampling(self, df: pd.DataFrame, n_samples: int) -> pd.DataFrame:
        sampled_df = df.sample(n=n_samples, replace=True)
        return self.add_noise(sampled_df, noise_factor=0.05)

    def augment_dataset(self, methods: List[str] = None) -> pd.DataFrame:
        if methods is None:
            methods = ['noise', 'interpolate', 'smote', 'bootstrap']
        current_rows = len(self.df)
        rows_needed = self.target_rows - current_rows
        if rows_needed <= 0:
            print(f"Dataset already has {current_rows} rows, which is >= target of {self.target_rows}")
            return self.df
        print(f"Augmenting dataset from {current_rows} to {self.target_rows} rows")
        augmented_df = self.df.copy()
        rows_per_method = rows_needed // len(methods)
        remaining_rows = rows_needed % len(methods)
        for i, method in enumerate(methods):
            method_rows = rows_per_method + (1 if i < remaining_rows else 0)
            if method_rows == 0:
                continue
            if method == 'noise':
                sampled = self.df.sample(n=method_rows, replace=True)
                new_rows = self.add_noise(sampled)
            elif method == 'interpolate':
                new_rows = self.interpolate_rows(self.df, method_rows)
            elif method == 'smote':
                new_rows = self.smote_like_augmentation(self.df, method_rows)
            elif method == 'bootstrap':
                new_rows = self.bootstrap_sampling(self.df, method_rows)
            else:
                continue
            augmented_df = pd.concat([augmented_df, new_rows], ignore_index=True)
        print(f"Final dataset size: {len(augmented_df)} rows")
        return augmented_df


# ========= MAIN FUNCTION ========= #
def augment_csv(input_file: str, output_file: str, target_rows: int = 500):
    df = pd.read_csv(input_file)
    print(f"\nOriginal dataset shape: {df.shape}")
    augmenter = DatasetAugmenter(df, target_rows=target_rows)
    augmented_df = augmenter.augment_dataset()
    augmented_df.to_csv(output_file, index=False)
    print(f"\nAugmented dataset saved to: {output_file}")
    return augmented_df


# ========= EXECUTION ========== #
if __name__ == "__main__":
    input_csv = "/content/profit_templete_dataset.csv"  # from your uploaded file
    output_csv = "profit_augmented_dataset.csv"

    try:
        augmented_df = augment_csv(input_csv, output_csv, target_rows=500)
        print("\n" + "="*50)
        print("AUGMENTATION SUMMARY")
        print("="*50)
        print(f"Original rows: 150")
        print(f"Final rows: {len(augmented_df)}")
        print(f"Rows added: {len(augmented_df) - 150}")
        print("\nSample rows from result:")
        print(augmented_df.head())
    except Exception as e:
        print(f"An error occurred: {e}")

Original dataset shape: (147, 5)
Augmenting dataset from 147 to 500 rows
Final dataset size: 500 rows

Augmented dataset saved to: profit_augmented_dataset.csv

==================================================
AUGMENTATION SUMMARY
==================================================
Original rows: 150
Final rows: 500
Rows added: 350

Sample rows from result:
   R&D Spend  Administration  Marketing Spend             City     Profit
0   125487.3         89654.2         285673.8            Cairo  147892.65
1   118743.6         95421.4         267894.3       Alexandria  142156.78
2   112896.4         78934.2         248573.9             Giza  136574.23
3   108654.7         84672.1         231456.8            Cairo  129847.34
4   104782.3         69834.5         219874.6  Sharm El Sheikh  125634.89

In [6]:
df = pd.read_csv('/content/profit_augmented_dataset.csv')

In [7]:
df.shape

(500, 5)

In [8]:
df.tail(50)

,R&D Spend,Administration,Marketing Spend,City,Profit
450,65959.685091,99350.875609,142547.314208,Alexandria,75081.889868
451,16968.449354,123537.707398,72485.687086,Ismailia,49787.304467
452,32656.514938,96458.926696,39314.428844,Giza,34184.373221
453,109015.901403,84737.955797,230167.073924,Cairo,130147.205148
454,78852.826648,83173.124023,156794.714073,Luxor,94611.413382
455,33848.339684,115467.949808,95655.901521,Aswan,54951.447874
456,50650.190533,80737.315249,67233.103660,Alexandria,47582.723851
457,33794.316479,95138.765211,38483.222291,Cairo,32741.538795
458,89331.812940,79119.688259,177194.238159,Alexandria,109691.547794
459,84229.060503,88583.794542,148748.363656,Cairo,93728.149210
460,11604.895428,100261.390242,-2897.172063,Mansoura,16629.746155
461,-887.418705,136049.323228,51952.170334,Cairo,45483.297577
462,83241.636758,80635.250789,153404.819549,Giza,86006.643291
463,68637.884629,79026.870791,135200.467569,Aswan,71916.014171
464,635.453779,103854.496502,3078.389140,Luxor,14292.090430
465,60674.181698,77688.293637,94932.770666,Mansoura,60417.545601
466,33705.064106,91287.117170,32396.708646,Cairo,32384.657681
467,14692.960112,98024.182514,-6729.767435,Cairo,18877.099201
468,9531.978119,99925.932656,5651.641647,Sharm El Sheikh,16022.152350
469,37538.138412,109680.594890,101434.939153,Sharm El Sheikh,59281.258131
470,45046.809193,101570.530915,121319.832334,Cairo,64810.840769
471,-413.925632,134325.002380,51898.956692,Luxor,45560.378121
472,57902.362295,88651.296128,119042.576595,Tanta,62210.742892
473,48693.333362,84990.776804,62188.199708,Luxor,44113.024634
474,50597.715084,84187.271396,70325.024342,Giza,48167.519118
475,23991.074556,98305.309918,19109.787239,Cairo,25030.003296
476,54125.036923,79523.162606,114165.454460,Ismailia,60254.290699
477,35783.933232,112122.282074,98813.563484,Hurghada,56214.741129
478,38855.580710,89183.306175,34753.308758,Hurghada,34339.317204
479,35080.825925,110407.348782,98045.843516,Hurghada,54758.985352
480,98728.363865,76634.042238,207396.829432,Alexandria,120021.246500
481,98319.778947,78031.862898,199770.991539,Alexandria,117042.846569
482,98132.908045,87464.714787,195902.187501,Cairo,111859.732884
483,4022.283997,103894.268544,-36.848660,Cairo,13698.716840
484,49789.677947,101048.343589,123990.586765,Cairo,64887.447408
485,56479.639499,102513.247229,139281.927154,Giza,73583.729208
486,10361.045527,119469.195059,44770.281148,Tanta,43373.510536
487,56740.559793,83678.769352,95753.296018,Cairo,60570.922387
488,61739.625070,84271.366944,120571.819137,Mansoura,67704.504977
489,2258.648358,145371.488576,31809.334918,Hurghada,41978.003179
490,41315.600994,106859.950180,109476.432163,Cairo,59055.458263
491,64722.983357,81330.930832,126038.898807,Luxor,66371.061483
492,80912.212593,79608.352694,151623.393049,Giza,85967.628377
493,638.708779,145845.278645,22292.208102,Aswan,41397.499903
494,53680.994936,98923.030299,121600.673179,Alexandria,64812.340625
495,47900.708304,84019.202360,58099.229484,Luxor,47260.574455
496,30687.342609,113670.765904,98965.272510,Aswan,52764.072466
497,32079.655877,114500.987502,95557.389676,Aswan,53920.434908
498,68225.306140,86071.172657,122510.651641,Alexandria,78327.763770
499,44373.813850,90549.251074,60055.548020,Mansoura,42925.738151

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        500 non-null    float64
 1   Administration   500 non-null    float64
 2   Marketing Spend  500 non-null    float64
 3   City             500 non-null    object
 4   Profit           500 non-null    float64
dtypes: float64(4), object(1)
memory usage: 19.7+ KB